x-default-volumes: &default-volumes
  # edit this volume s/t name to match your project
  - type: volume
    source: sgm-volume
    target: ${DOCKER_WORK_PATH}/Volume
  - type: bind
    source: /tmp/.X11-unix
    target: /tmp/.X11-unix
  - type: bind
    source: /etc/localtime
    target: /etc/localtime
    read_only: true
  - type: bind
    source: ${HOST_WORK_PATH}/Data/${PROJECT_NAME}
    target: ${DOCKER_WORK_PATH}/Data/${PROJECT_NAME}
  - type: bind
    source: ${HOST_WORK_PATH}/Project/${PROJECT_NAME}
    target: ${DOCKER_WORK_PATH}/Project/${PROJECT_NAME}
  # SGM specific volumes
  - type: bind
    source: .
    target: /workspace
  - type: bind
    source: /storage3/dataset/common/HM3D/
    target: /data/HM3D/
    read_only: true
  
x-default-environment: &default-environment
  - DISPLAY
  - QT_X11_NO_MITSHM=1
  - XAUTHORITY=${TMP_XAUTH}
  - TERM
  - DOCKER_WORK_PATH=${DOCKER_WORK_PATH}
  # SGM specific environment variables
  - NVIDIA_VISIBLE_DEVICES=all
  - NVIDIA_DRIVER_CAPABILITIES=all

x-default-deploy: &default-deploy
  resources:
    reservations:
      devices:
        - driver: nvidia
          count: all
          capabilities: [ gpu ]

services:
  # This service is the vnc desktop image
  dachii-desktop:
    image: ghcr.io/matsuolab/virtual_desktop:latest
    runtime: nvidia
    environment: *default-environment
    ports:
      - "${WEB_PORT}:6080"
    volumes:
      - "/tmp/.X11-unix:/tmp/.X11-unix:rw"
    security_opt:
      - seccomp:unconfined
    deploy: *default-deploy
  
  dachii-sgm:
    profiles: [ "dachii-sgm-base" ]
    build:
      context: ./
      dockerfile: Dockerfile
    image: dachii-sgm
    depends_on:
      - dachii-desktop
    environment: *default-environment
    volumes: *default-volumes
    deploy: *default-deploy
    working_dir: /workspace
    entrypoint: bash
    stdin_open: true
    tty: true

volumes:
  sgm-volume:
