x-default-volumes: &default-volumes
  # edit this volume s/t name to match your project
  - type: volume
    source: peanut-volume
    target: ${DOCKER_WORK_PATH}/Volume
  - type: bind
    source: /tmp/.X11-unix
    target: /tmp/.X11-unix
  - type: bind
    source: /etc/localtime
    target: /etc/localtime
    read_only: true
  - type: bind
    source: ${HOST_WORK_PATH}/Data/${PROJECT_NAME}
    target: ${DOCKER_WORK_PATH}/Data/${PROJECT_NAME}
  - type: bind
    source: ${HOST_WORK_PATH}/Project/${PROJECT_NAME}
    target: ${DOCKER_WORK_PATH}/Project/${PROJECT_NAME}
  # PEANUT specific volumes
  - type: bind
    source: ${PROJECT_PATH}/habitat-challenge-data
    target: /habitat-challenge-data
  - type: bind
    source: /storage3/dataset/common/HM3D/objectnav_hm3d_v1
    target: /habitat-challenge-data/objectgoal_hm3d
  - type: bind
    source: ${PROJECT_PATH}/habitat-challenge-data/data/scene_datasets/hm3d
    target: /habitat-challenge-data/data/scene_datasets/hm3d
  - type: bind
    source: ${PROJECT_PATH}/habitat-challenge-data/data/scene_datasets/hm3d
    target: /data/scene_datasets/hm3d
  - type: bind
    source: ${PROJECT_PATH}/data
    target: /data
  - type: bind
    source: ${PROJECT_PATH}/nav
    target: /nav
  
x-default-environment: &default-environment
  - DISPLAY
  - QT_X11_NO_MITSHM=1
  - XAUTHORITY=${TMP_XAUTH}
  - TERM
  - DOCKER_WORK_PATH=${DOCKER_WORK_PATH}
  # PEANUT specific environment variables
  - AGENT_EVALUATION_TYPE=${AGENT_EVALUATION_TYPE:-local}
  - TRACK_CONFIG_FILE=${TRACK_CONFIG_FILE:-/challenge_objectnav2022.local.rgbd.yaml}
  - PYTHONPATH

x-default-deploy: &default-deploy
  resources:
    reservations:
      devices:
        - driver: nvidia
          count: all
          capabilities: [ gpu ]

services:
  # This service is the vnc desktop image
  dachii-desktop:
    image: ghcr.io/matsuolab/virtual_desktop:latest
    runtime: nvidia
    environment: *default-environment
    ports:
      - "${WEB_PORT}:6080"
    volumes:
      - "/tmp/.X11-unix:/tmp/.X11-unix:rw"
    security_opt:
      - seccomp:unconfined
    deploy: *default-deploy
  
  dachii-peanut:
    profiles: [ "dachii-peanut-base" ]
    build:
      context: ./
      dockerfile: peanut.Dockerfile
      args:
        - INCUBATOR_VER=${INCUBATOR_VER:-unknown}
    image: dachii-peanut
    depends_on:
      - dachii-desktop
    environment: *default-environment
    volumes: *default-volumes
    deploy: *default-deploy
    entrypoint: bash
    stdin_open: true
    tty: true
    ipc: host

volumes:
  peanut-volume:
